{% extends "base.html" %}

{% block app_content %}
<div class="col-xs-12">
    <div class="col-xs-3">
        <div class="col-xs-12">
            <h1>{{ artist.name }}</h1>
            {% if current_user.is_authenticated and current_user not in artist.followers %}
            <button class="btn btn-warning" onclick="location.href='{{ url_for("main.follow_artist", artist_name=artist.name) }}'">Follow</button><br>
            {% elif current_user.is_authenticated and current_user in artist.followers %}
            <button class="btn btn-warning" onclick="location.href='{{ url_for("main.unfollow_artist", artist_name=artist.name) }}'">Unfollow</button><br>
            {% endif %}
            {% if current_user.is_authenticated and current_user in artist.members %}
            <button class="btn btn-warning" onclick="location.href='{{ url_for("main.edit_artist", artist_name=artist.name) }}'">Edit Profile</button><br>
            {% if artist.tracks|length <= 3 %}
            <button class="btn btn-warning" onclick="location.href='{{ url_for("main.upload_track", artist_name=artist.name) }}'">Upload Tracks</button><br>
            {% endif %}
            <button class="btn btn-warning" onclick="location.href='{{ url_for("main.add_artist_member", artist_name=artist.name) }}'">Add Members</button><br>
            {% endif %}
            <label for="members_list">Members:</label>
            <ul id="members_list">
                {% if artist.members|length == 0 %}
                <li>There are currently no members in {{ artist.name }}</li>
                {% else %}
                {% for member in artist.members %}
                    <li>{{ member.name }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="col-xs-12">
            <b>Description : {{ artist.description }}</b><br>
            <b>From {{ artist.location.city }}, {{ artist.location.state }}</b><br>
            <b>Followers: {{ artist.followers|length }}</b><br>
            <label for="genre_list">Genres:</label>
            <ul id="genre_list">
                {% if artist.genre|length == 0 %}
                <li>{{ artist.name }} has no genres at this point in time</li>
                {% else %}
                {% for genre in artist.genre %}
                <li>{{ genre.name }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<hr>
<div id="shows_for_artist" class="col-xs-12">
     <div class="col-xs-6 text-center">
         <b><label for="shows_table">Shows for {{ artist.name }}</label></b><br>
         {% if shows|length == 0 %}
         <b>{{ artist.name }} is not currently signed up to play any shows! Check back soon! :)</b>
         {% else %}
         <table class="table table-bordered bg-light table-hover">
            {% for show in shows %}
            <tr>
                <td>
                    <b>{{ show.artist.name }} is playing at {{ show.porch.address }} {{ show.porch.location.city }}, {{ show.porch.location.state }} {{ show.start_time }}</b>
                </td>
            </tr>
            {% endfor %}
         </table>
         {% endif %}
     </div>
     <div class="col-xs-6 text-center">
         <b><label for="tracks_table">Tracks for {{ artist.name }}</label></b><br>
         {% if artist.tracks|length == 0 %}
         <b>{{ artist.name }} does not have any tracks at this time! Check back soon! :)</b>
         {% else %}
         <table id="tracks_table" class="table table-bordered bg-light table-hover">
            {% for track in artist.tracks %}
            <tr>
                <td>
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <p>{{ track.track_name }}</p>
                        </div>
                        <div class="col-xs-9">
                            <audio controls>
                                <source src="{{ track.s3_filepath }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
         </table>
         {% endif %}
     </div>
</div>
{% endblock %}