{% extends 'bootstrap/base.html' %}

{% block title %}
     Porchfest Radio
{% endblock %}

{%  block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Rancho" rel="stylesheet">
{% endblock %}


{%  block navbar %}
<body>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <nav class="navbar sticky-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only"> Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand navbar-default" href="{{ url_for('main.index') }}">Porchfest</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    {% else %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

 {% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# applicatin contnt needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
     </div>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>