{% extends "base.html" %}

{% block app_content %}
<div class="col-md-12">
    <div class="col-md-3">
        <h1>Hello, {{ user.username }}</h1> <br>
        {% if current_user.username == user.username %}
        <button class="btn btn-warning" onclick="location.href='{{ url_for("main.edit_profile", username=user.username) }}'">Edit Profile</button>
        {% endif %}
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <b><label for="member_table">Your Bands:</label></b><br>
             {% if user.member_of|length == 0 %}
             <b>You are not a member of any bands at this time.</b>
             {% else %}
             <table id="member_table" class="table table-bordered bg-light table-hover">
                {% for artist in user.member_of %}
                <tr>
                    <td>
                        <a href="{{ url_for("main.artist", artist_name=artist.name) }}">{{ artist.name }}</a>
                    </td>
                </tr>
                {% endfor %}
             </table>
             {% endif %}
    </div>
    <div class="col-md-6">
         <b><label for="follow_table">Following Bands:</label></b><br>
         {% if user.follows|length == 0 %}
         <b>You are not following any bands at this time.</b>
         {% else %}
         <table id="follow_table" class="table table-bordered bg-light table-hover">
            {% for artist in user.follows %}
            <tr>
                <td>
                    <a href="{{ url_for("main.artist", artist_name=artist.name) }}">{{ artist.name }}</a>
                </td>
            </tr>
            {% endfor %}
         </table>
         {% endif %}
    </div>
</div>
{% endblock %}